{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form </title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'Login/fonts/material-icon/css/material-design-iconic-font.min.css'%}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'Login/css/style.css'%}">



    <!-- header links begins--------------------------------------------------------- -->
    <link href="{% static 'Landing/assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'Landing/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="{% static 'Landing/assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'Landing/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Landing/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'Landing/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'Landing/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
    <link href="{% static 'Landing/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="{% static 'Landing/assets/css/style.css' %}" rel="stylesheet">
  
    <!-- =======================================================
    * Template Name: FlexStart
    * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
    * Updated: Mar 17 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

    <!-- header links ends---------------------------------------------------------------------------- -->
</head>
<body>
    <!-- Header begins------------------------------------------------------------- -->
    <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{% static 'Landing/assets/img/logo.png' %}" alt="">
        <span>Aptitude</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'guest:HomePage' %}">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="{% url 'guest:Login' %}">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

{% block content %}
{% endblock content %}


    <!-- Vendor JS Files -->
  <script src="{% static 'Landing/assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'Landing/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'Landing/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'Landing/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'Landing/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'Landing/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'Landing/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'Landing/assets/js/main.js' %}"></script>



    <!-- header Ends--------------------------------------------------------------------- -->

    <div class="main">
        <section class="sign-in" id="sign-in">
            <form action=""  method="post" id="login">
                {% csrf_token %}
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{% static 'Login/images/signin-image.jpg'%}" alt="sing up image"></figure>
                        <a href="{% url 'guest:UserRegistration' %}" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Log In</h2>
                        <form method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="email" name="txt_email" id="txt_email" required placeholder="Email"/>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="txt_password" id="txt_password" required placeholder="Password" />
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </form>
        </section>


    </div>

    <!-- JS -->
    <script src="{% static 'Login/vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'Login/js/main.js'%}"></script>
</body>
</html>
{% if msg %}
<script>
	alert("{{msg}}");
</script>
{% endif %}