{% extends 'User/Include.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body onload="sessionStorage.clear()">
    <div class="container">
        <div class="row justify-content-center mt-5">
            {% for category in categories %}
            <a class="col-md-3" href="{% url 'user:Questions' category.category_id %}" style="text-decoration: none;">
                <div class="card mb-2 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ category.category_name }}</h5>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</body>
<script>
  window.addEventListener('pageshow', function(event) {
  var historyTraversal = event.persisted || 
                        (typeof window.performance != 'undefined' && 
                         window.performance.navigation.type === 2);
  if (historyTraversal) {
    // Clear session or perform other actions here
    console.log('Navigated back, clearing session.');
    sessionStorage.clear(); // Clear session storage
    // You can also use localStorage.clear(); to clear local storage
  }
});
</script>

</html>
{% endblock %}
