{% extends 'Admin/Include.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group row">
                <label for="txt_category" class="col-sm-2 col-form-label">Category</label>
                <div class="col-sm-10">
                    <input type="text" name="txt_category" id="txt_category" value="{{editdata.category_name}}" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 text-center">
                    <input type="submit" value="Save" class="btn btn-primary mr-2">
                    <input type="reset" value="Cancel" class="btn btn-secondary">
                </div>
            </div>
        </form>
    </div>

    <div class="container mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for i in category %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{i.category_name}}</td>
                    <td>
                        <a href="{% url 'admin:DeleteCategory' i.category_id %}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'admin:EditCategory' i.category_id %}" class="btn btn-primary">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
{% endblock content %}
